h1 {
    color:khaki;
    text-align: center;
    font-size: 100px;
}

.title {
    background-image: url("./img/pattern.webp");
}

.price {
    font-weight: bold;
    color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.item h2{
    color: white;
    font-size: 32px;
}

h1, h2, h3, p{
    font-family: Helvetica;
}